package game

import (
	"github.com/hajimehoshi/ebiten/v2"
)

func (g *Game) Layout(outsideWidth, outsideHeight int) (screenWidth, screenHeight int) {
	screenWidth = {{.GameWidth}}
	screenHeight = {{.GameHeight}}
	return
}